<MailerConfig>
    <User></User>
    <Password></Password>
    <From></From>
    <SubjectPrefix>Prodam Mailer Robot - </SubjectPrefix>
    <ServerAddress></ServerAddress>
    <ServerPort></ServerPort>
    <To>
	<Email></Email>	
    </To>
    <Header>ProdamLab informa,</Header>
    <Footer>Obrigado,
ProdamLab</Footer>
    <BaseDate>2014/11/27</BaseDate> <!-- AAAA/MM/DD . Will stop before this date!-->
</MailerConfig>
